# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# IDE-specific files
.idea/
.vscode/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.venv/
venv/
my_venv/
env/

# Build artifacts
dist/
build/
*.egg

# Logs and databases
*.log
*.db
